In [3]:
import pandas as pd
import numpy as np

In [4]:
criminal_records = pd.read_csv(r'C:\Users\jorda\Documents\School\Senior\Spring 2021\DS440\CrimeData\dc-crimes-search-results.csv')
income = pd.read_csv(r'C:\Users\jorda\Documents\School\Senior\Spring 2021\DS440\CrimeData\indicator_data_download_20210222.csv', index_col=False)

In [5]:
income.head()

,Location,Indicator Rate Value,Rate Lower Confidence Interval,Rate Upper Confidence Interval
0,11001000100,191146,165735,216557
1,11001000100,168477,150211,186743
2,11001000100,167188,146473,187903
3,11001000100,170338,150468,190208
4,11001000100,146161,116553,175769

In [7]:
income['Location'] = income.Location.astype(str).str[6:].astype(int)

In [8]:
incomes = income.groupby('Location')

In [9]:
criminal_records.head()

,NEIGHBORHOOD_CLUSTER,CENSUS_TRACT,offensegroup,LONGITUDE,END_DATE,offense-text,SHIFT,YBLOCK,DISTRICT,WARD,...,BLOCK,START_DATE,CCN,OFFENSE,OCTO_RECORD_ID,ANC,REPORT_DAT,METHOD,location,LATITUDE
0,cluster 21,8702.0,property,-77.003574,2017-04-29T08:00:23.000,theft f/auto,day,138139.0,5.0,5,...,150 - 299 block of q street ne,2017-04-29T01:30:14.000,17070672,theft f/auto,17070672-01,5E,2017-04-29T13:49:31.000Z,others,"38.911121322949178,-77.003576581965632",38.911114
1,cluster 16,1600.0,property,-77.026557,2017-04-29T08:30:37.000,theft f/auto,day,146051.0,4.0,4,...,7600 - 7699 block of georgia avenue nw,2017-04-29T02:30:10.000,17070675,theft f/auto,17070675-01,4A,2017-04-29T14:38:59.000Z,others,"38.982391883146363,-77.026559339798794",38.982384
2,cluster 8,4702.0,property,-77.020913,2017-04-29T11:10:57.000,theft/other,day,137185.0,1.0,6,...,600 - 699 block of k street nw,2017-04-29T10:43:33.000,17070714,theft/other,17070714-01,6E,2017-04-29T15:19:02.000Z,others,"38.902525540064957,-77.020915170313728",38.902518
3,cluster 31,7808.0,property,-76.919601,2017-04-28T09:30:33.000,theft/other,day,135903.0,6.0,7,...,5715 5739 block of blaine street ne,2017-04-28T09:15:27.000,17070736,theft/other,17070736-01,7C,2017-04-29T16:11:44.000Z,others,"38.890951021927407,-76.919603310082607",38.890943
4,cluster 39,10900.0,property,-77.003927,2017-04-29T13:42:11.000,theft/other,day,128340.0,7.0,8,...,4610 - 4659 block of south capitol street,2017-04-29T13:03:40.000,17070780,theft/other,17070780-01,8D,2017-04-29T18:17:15.000Z,others,"38.822847890448664,-77.003929146312586",38.822840

In [10]:
print(criminal_records.shape)

(202216, 29)

In [11]:
criminal_records.offensegroup.value_counts()

property    173686
violent      28530
Name: offensegroup, dtype: int64

In [12]:
criminal_records.columns

Index(['NEIGHBORHOOD_CLUSTER', 'CENSUS_TRACT', 'offensegroup', 'LONGITUDE',
       'END_DATE', 'offense-text', 'SHIFT', 'YBLOCK', 'DISTRICT', 'WARD',
       'YEAR', 'offensekey', 'BID', 'sector', 'PSA', 'ucr-rank', 'BLOCK_GROUP',
       'VOTING_PRECINCT', 'XBLOCK', 'BLOCK', 'START_DATE', 'CCN', 'OFFENSE',
       'OCTO_RECORD_ID', 'ANC', 'REPORT_DAT', 'METHOD', 'location',
       'LATITUDE'],
      dtype='object')

In [13]:
criminal_records.OFFENSE.value_counts()

theft/other                   83427
theft f/auto                  64104
motor vehicle theft           15957
robbery                       14679
assault w/dangerous weapon    11301
burglary                      10142
sex abuse                      1604
homicide                        946
arson                            56
Name: OFFENSE, dtype: int64

In [14]:
criminal_records.PSA.value_counts()

207.0    7619
208.0    7446
305.0    6789
302.0    6650
206.0    6235
106.0    5919
307.0    5123
104.0    4816
603.0    4782
602.0    4777
503.0    4764
209.0    4760
501.0    4743
506.0    4674
101.0    4671
507.0    4456
308.0    4225
505.0    4015
107.0    4008
304.0    3989
604.0    3951
303.0    3889
502.0    3683
404.0    3626
202.0    3413
301.0    3357
607.0    3339
608.0    3330
402.0    3307
401.0    3198
102.0    3156
306.0    3129
108.0    2894
406.0    2865
504.0    2746
204.0    2739
409.0    2721
403.0    2636
704.0    2600
407.0    2593
405.0    2590
708.0    2487
605.0    2440
203.0    2437
703.0    2398
606.0    2181
706.0    2126
701.0    2088
105.0    2063
408.0    2004
707.0    1988
702.0    1851
103.0    1815
201.0    1586
705.0    1575
601.0    1471
205.0    1404
Name: PSA, dtype: int64

In [15]:
criminal_records.CENSUS_TRACT.value_counts().iloc[0]

6446

In [16]:
criminal_records.CENSUS_TRACT.value_counts()

5800.0     6446
4400.0     5600
10700.0    4633
10600.0    4172
11100.0    3373
           ...
1301.0      211
6804.0      209
702.0       181
201.0       172
7301.0       13
Name: CENSUS_TRACT, Length: 179, dtype: int64

In [28]:
incomesDF = incomes.apply(pd.DataFrame)

In [32]:
incomesDF.head()

,Location,Indicator Rate Value,Rate Lower Confidence Interval,Rate Upper Confidence Interval
0,100,191146,165735,216557
1,100,168477,150211,186743
2,100,167188,146473,187903
3,100,170338,150468,190208
4,100,146161,116553,175769

In [34]:
incomes.head()

,Location,Indicator Rate Value,Rate Lower Confidence Interval,Rate Upper Confidence Interval
0,100,191146,165735,216557
1,100,168477,150211,186743
2,100,167188,146473,187903
3,100,170338,150468,190208
4,100,146161,116553,175769
...,...,...,...,...
1561,11100,79628,61483,97773
1562,11100,75781,59806,91756
1563,11100,59716,40544,78888
1564,11100,58833,45754,71912
1565,11100,55108,45728,64488